<div class="container-fluid" >
  <h1>Bootstrap Enrollment Form</h1>
  <form #userForm='ngForm' *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate >

    {{ userForm.valid }}

    <div class="form-group">
      <label>Name</label>
        <input type="text" #name="ngModel" 
        [class.is-invalid]="name.invalid && name.touched" 
        required 
        pattern="[a-zA-Z ]*"
        name="userName" 
        [ngModel]="userModel.name" 
        class="form-control">
        <!--this is for single validation and displaying error-->
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
      </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" name="email" [ngModel]="userModel.email" class="form-control">
    </div>
    
    <div class="form-group">
      <label>Phone</label>
      <input type="tel" #phone="ngModel" required pattern="^[7-9][0-9]{9}$" [class.is-invalid]="phone.invalid && phone.touched" name="phone" [ngModel]="userModel.phone" class="form-control">
    <!-- this is by the property binding and class binding -->
      <!--
        <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number is required and must be 10 digits</small>
     <br>
      <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Indian number must starts from digits 7,8,9 only</small> 
    -->

    <!--this for multiple validation and displaying error by ngIf-->
        <div *ngIf="phone.errors && (phone.valid || phone.touched)">
          <small class="text-danger" *ngIf="phone.errors.required">Phone number is required and must be 10 digits</small>
          <small class="text-danger" *ngIf="phone.errors.pattern">Indian number must starts from digits 7,8,9 only and must contain 10 digits</small>

        </div>
    </div>

    <div class="form-group">
     <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)" class="custom-select" d
     [class.is-invalid]="topicHasError && topic.touched"  #topic="ngModel" name="topic" [ngModel]="userModel.topic">
       <option value="default"> I am interested in </option>
       <option *ngFor="let topic of topics" > {{ topic }} </option>
     </select>
     <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Please select topic</small>
    </div>

    
    <div class="mb-3" [ngModel]="userModel.timePreference" >
      <label>Time Preference</label>
        <div class="form-check" >
          <input class="form-check-input" [ngModel]="userModel.timePreference" type="radio" name="timePreference" value="morning">
          <label class="form-check-label">Morning ( 9AM - 12 PM )</label>
        </div>

        <div class="form-check" >
          <input class="form-check-input" [ngModel]="userModel.timePreference" type="radio" name="timePreference" value="evening">
          <label class="form-check-label">Evening ( 5PM - 8 PM )</label>
        </div>
    </div>
     
    <div class="form-group mb-3">
      <input type="checkbox" name="subscribe" [ngModel]="userModel.subscribe" class="form-check-input">
      <label class="form-check-label" >
        Send me promotional offers
      </label>
    </div>

    <!--Here for submit button => it checks if userForm is valid 
      ( if all fields of form are valid then its true(userForm.valid) with topicHasError )-->
    
      <button [disabled]="userForm.form.invalid || topicHasError" class="btn btn-primary" type="submit">Submit Form</button>

  </form>
</div>
<router-outlet></router-outlet>
